@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --col-dark: #010125;
  --bg-dark:  #072132;
  /* --bg-dark: #002a48; */
  --bg-hover: #071a27;
  --bg-med: #107293;
  --highlight-blue: #5FCBEC;
  --highlight-teal: #4AFEBD;  
}

#root {
  margin: 0;
  padding: 0;
}

.home-main .pane {
  color: white;
  position: relative;
  text-align: start;
  top: 3rem
}

.subnav a:hover {
  box-shadow: inset 10.5em 0 0 0 var(--highlight-blue);
  transition: all 500ms;
}

section h2 {
  font-size: 2.4rem;
  font-weight: 650;
  color: var(--highlight-blue);
}
